<nav class="header_nav">
  <div class="home_icon">
    <button type="button" class="button button--primary" aria-label="Logout">
      <a href="/users/dashboard">home</a>
    </button>
  </div>
  <div class="nav_left_side">
    <ul>
      <a href="/users/movies">
        <li>Movies</li>
      </a>
      <a href="/users/actors">
        <li>Actors</li>
      </a>
    </ul>
    <button type="button" class="button button--primary" aria-label="Logout">
      <a href="/users/logout">logout</a>
    </button>
  </div>
</nav>
