<nav class="header_nav">
  <div class="home_icon">
    <a href="/users/dashboard">
      <button type="button" class="home-button" aria-label="Logout">
      </button>
    </a>

  </div>
  <div class="nav_left_side">
    <ul>
      <a href="/users/movies">
        <li>MOVIES</li>
      </a>
      <a href="/users/actors">
        <li>ACTORS</li>
      </a>
    </ul>
    <button type="button" class="logout-button" aria-label="Logout">
      <a href="/users/logout">
        <i class="fa fa-sign-out-alt fa-2x"></i>
      </a>
    </button>
  </div>
</nav>