<%- include('partials/_header') -%>
  <div class="tm-page-wrap mx-auto">
    <div class="position-relative mb-5">
      <div class="tm-welcome-container tm-fixed-header tm-fixed-header-3">
        <div class="text-center add-section">
          <p class="pt-5 px-3 tm-welcome-text tm-welcome-text-2 mb-1 mt-lg-0 mt-5 mx-auto">
            Welcome<br>Let's share your favorite actor!
          </p>
        </div>
      </div>
      <div id="tm-fixed-header-bg"></div>
    </div>
    <!-- Page content -->
    <main>
      <div class="container">
        <div class="mx-auto tm-content-container">
          <div class="row mt-3pb-3 mb-4">
            <div class="col-10 offset-1">
              <div class="mx-auto tm-about-text-container add-paragraph">
                <h2 class="tm-page-title mb-3 tm-text-primary add-header">Add Actor</h2>
                <p>
                  You can add your favorite actors to this area and view them on the Actors page specific to you, share
                  them with other users, and perform operations such as deleting and updating.
                </p>
              </div>
            </div>
          </div>
          <div class="mx-auto pb-3 tm-about-text-container">
            <div class="row">
              <div class="col-lg-10 offset-1 mb-5">
                <form method="post" action="/users/actors" class="tm-contact-form">
                  <div class="form-group">
                    <input type="name" name="name" id="name" class="form-control rounded-0"
                      placeholder="Actor Name (max 50 characters)" maxlength="50" required>
                  </div>

                  <div class="form-group">
                    <textarea rows="8" type="description" name="description" id="description"
                      class="form-control rounded-0" placeholder="Actor Description (max 500 characters)"
                      maxlength="500" required></textarea>
                  </div>
                  <div class="form-group mb-0">
                    <button type="submit" id="submit"
                      class="btn btn-primary rounded-0 d-block ml-auto mr-0 tm-btn-animate tm-btn-submit tm-icon-submit send-button"><span><i
                          class="fa-regular fa-paper-plane"></i></span></button>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>

      </div>
    </main>

    <div class="container-fluid tm-content-container mx-auto pt-4">
      <%- include('partials/_footer') -%>