<%- include('partials/_header') -%>
  <div class="index_main">
    <h1 style="color: white">Movie Mate</h1>
    <nav class="index_navbar">
      <div>
        <ul>
          <a href="/signup">
            <li>signup</li>
          </a>

          <a href="/login">
            <li>login</li>
          </a>

        </ul>
      </div>
    </nav>
  </div>
  <%- include('partials/_footer') -%>
