<%- include('partials/_header') -%>

  <div class="index_main">
    <nav class="index_navbar">
      <div>
        <ul>
          <a href="/signup">
            <li>
              <button>signup</button>
            </li>
          </a>
          <a href="/login">
            <li>
              <button>login</button>
            </li>
          </a>
        </ul>
      </div>
    </nav>
  </div>
  </body>

  </html>