<%- include("partials/_header"); %>
    <link href="/login.css" type="text/css" rel="stylesheet">
    </head>

    <body class="host_version">
        <form class="form-field" method="post" action="/users/login">
            <div class="sc-kkGfuU bdWWHB">
                <div class="sc-jKJlTe jbzUqX">
                    <div class="overlay">
                        <div class="content"><span>
                                <h2>Welcome Back to MovieMate</h2>
                                <div class="separator"></div>
                                <h4>Sign in to continue to your account.</h4>
                            </span></div>
                    </div>
                </div>
                <div class="right-pane">
                    <div class="form-wrapper">
                        <div class="sc-eNQAEJ jfNanY">
                            <div class="login-form">
                                <button class="facebook-button sc-dnqmqq coVESR">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M20 10.0611C20 4.50451 15.5229 0 10 0C4.47715 0 0 4.50451 0 10.0611C0 15.0829 3.65686 19.2452 8.4375 20V12.9694H5.89844V10.0611H8.4375V7.84452C8.4375 5.32296 9.93043 3.93012 12.2146 3.93012C13.3087 3.93012 14.4531 4.12663 14.4531 4.12663V6.60261H13.1921C11.9499 6.60261 11.5625 7.37816 11.5625 8.17381V10.0611H14.3359L13.8926 12.9694H11.5625V20C16.3431 19.2452 20 15.0829 20 10.0611Z"
                                            fill="#1877F2"></path>
                                    </svg>
                                    <span class="text">Continue with Facebook</span>
                                </button>
                                <button class="google-button sc-gqjmRU jMLndN">
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M17.64 9.20443C17.64 8.56625 17.5827 7.95262 17.4764 7.36353H9V10.8449H13.8436C13.635 11.9699 13.0009 12.9231 12.0477 13.5613V15.8194H14.9564C16.6582 14.2526 17.64 11.9453 17.64 9.20443Z"
                                            fill="#4285F4"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M8.99976 18C11.4298 18 13.467 17.1941 14.9561 15.8195L12.0475 13.5613C11.2416 14.1013 10.2107 14.4204 8.99976 14.4204C6.65567 14.4204 4.67158 12.8372 3.96385 10.71H0.957031V13.0418C2.43794 15.9831 5.48158 18 8.99976 18Z"
                                            fill="#34A853"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M3.96409 10.7101C3.78409 10.1701 3.68182 9.59325 3.68182 9.00007C3.68182 8.40689 3.78409 7.83007 3.96409 7.29007V4.95825H0.957273C0.347727 6.17325 0 7.5478 0 9.00007C0 10.4523 0.347727 11.8269 0.957273 13.0419L3.96409 10.7101Z"
                                            fill="#FBBC05"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M8.99976 3.57955C10.3211 3.57955 11.5075 4.03364 12.4402 4.92545L15.0216 2.34409C13.4629 0.891818 11.4257 0 8.99976 0C5.48158 0 2.43794 2.01682 0.957031 4.95818L3.96385 7.29C4.67158 5.16273 6.65567 3.57955 8.99976 3.57955Z"
                                            fill="#EA4335"></path>
                                    </svg><span class="text">Continue with Google</span>
                                </button>
                                <div class="form-separator">
                                    <p>or</p>
                                </div>
                                <p class="error sc-kEYyzF gQArnY" style="display: none;"></p>
                                <div class="sc-hMqMXs lilYba">
                                    <input placeholder="Email address" aria-label="Email address" type="email"
                                        name="email" id="email" autocapitalize="off" autocorrect="off"
                                        class="login-inputs-fields" required="">
                                </div>
                                <p class="error sc-kEYyzF gQArnY" style="display: none;"></p>
                                <div class="sc-hMqMXs lilYba">
                                    <input placeholder="Password" aria-label="Password" type="password" name="password"
                                        id="password" required="">
                                </div>
                            </div>
                            <button type="submit" id="submit"
                                class="button  large   full-width submit-btn sc-bwzfXH kApeuu" role="button"><span>Sign
                                    In</span>
                            </button>
                            <div class="forgot-password"><a class="forgot-pass-text" target="_blank"
                                    href="/reset-password">Forgot password?</a>
                            </div>
        </form>
        <div class="sign-up">Not a member yet? <a href="/signup">Sign Up.</a></div>
        <%- include("partials/_footer"); %>
