<div class="container-fluid">
  <div class="mx-auto tm-content-container">
    <main>
      <div class="row mb-5 pb-5">
        <div class="col-xl-8 col-lg-7">
          <!-- Video description -->
          <div class="tm-video-description-box">
            <h2 class="mb-5 tm-video-title">
              <%= movie.name %>
            </h2>
            <p class="mb-4">
              <%=movie.description %>
            </p>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
