@import url("https://fonts.googleapis.com/css?family=Montserrat");

:root {
  --clr-black: #333;
  --clr-primary-white: #ffffff;
  --color-black-light: rgba(37, 44, 40, 0.6);
  --font-semibold: 600;
  --color-primary-black: #000;
  --color-btn-from: #9467d6;
  --color-btn-to: #8254c7;
  --border-radius: 0.5rem;
  --box-shadow: 0 2px 14px 2px rgb(99 93 255 / 20%);
  --section-spacing: 1.5rem;
  --color-primary-light: rgba(230, 229, 255, 0.4);
}

/*  Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #19282f;
  height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
}

/* Background page image */
.index_main {
  flex: 100%;
  width: 100vw;
  height: 100vh;
  background-image: url("images/movieMateBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.liked {
  background-color: yellow;
}

.index_navbar {
  display: flex;
  margin: 1.2rem 0.6rem;
}

li,
a {
  text-decoration: none;
  list-style: none;
}

p {
  margin-bottom: 0 !important;
}

.shared-user {
  color: rgba(216, 209, 143, 0.7);
  font-size: 0.9rem;
}

.shared-user span {
  font-size: 0.8rem;
}

.icons a {
  margin-right: 1rem;
}

.index_navbar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
}

.index_navbar div {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.index_navbar div > a {
  font-family: "Epilogue", sans-serif;
  color: #e1e1c4;
  font-size: 2.1rem;
  font-weight: 500;
  padding: 1rem 0;
}

.index_navbar ul {
  display: flex;
}

.index_navbar li {
  font-family: "Epilogue", sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  padding: 1rem 1.2rem 0.8rem 0.4rem;
  background-color: transparent;
  border-radius: 2px;
  transition: 0.125s ease-in;
}

.index_navbar li button {
  padding: 0.4rem 1rem;
  background-color: transparent;
  border: 1px solid #e1e1c4;
  color: #e1e1c4;
  text-decoration: none;
  border-radius: 4px;
}

.index_navbar li button:hover {
  color: #002333;
  background-color: #cfcba5;
  border-color: #cfcba5;
}

.header_nav {
  display: flex;
  width: 100%;
  position: fixed;
  background-color: #19282f;
  z-index: 100;
  justify-content: space-between;
}

.nav_left_side,
.nav_left_side ul {
  display: flex;
}

.form-field {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  justify-content: center;
  align-items: center;
}

#title {
  color: var(--color-black-light);
  margin-bottom: 1.25rem;
}

@media (min-width: 768px) {
  .cta__form__input {
    margin-bottom: unset;
    min-width: 25rem;
  }
}

.cta__form__input {
  border: none;
  background-color: var(--color-primary-light);
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
  padding: 1rem;
  min-width: 25rem;
}
button,
input {
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.35;
  margin: 0;
}

@media (min-width: 768px) {
  :root {
    --section-spacing: 2.5rem;
  }
}

.name-surname {
  display: flex;
  width: 25rem;
}

.name-surname input {
  border: none;
  background-color: var(--color-primary-light);
  border-radius: var(--border-radius);
  justify-content: space-around;
  margin-bottom: 1.1rem;
  padding: 1rem;
  width: 12.25rem;
  justify-content: space-around;
  margin-right: 0.5rem;
}

.button--primary {
  background: linear-gradient(
    90deg,
    var(--color-btn-from) 0,
    var(--color-btn-to) 100%
  );
  border: 1px solid rgba(99, 93, 255, 0.2);
  box-shadow: var(--box-shadow);
  color: var(--clr-primary-white);
}

.button {
  --button-height: 45px;
  min-height: var(--button-height);
  background-color: transparent;
  cursor: pointer;
  outline: 0;
  border-radius: var(--border-radius);
  font-weight: var(--font-semibold);
  padding: 0.8rem 3rem;
  transition: all 0.2s ease-in-out;
  display: inline-flex;
  align-items: center;
  text-transform: capitalize;
}

.button:hover {
  transform: scale(1.08);
}

.button a {
  color: #d8d18f;
  text-decoration: none;
}

button a {
  color: #d8d18f;
}

button a:hover {
  color: #d8d18f;
}

.home-button {
  background-image: url("./images/movieMateM.png");
  background-repeat: no-repeat;
  background-size: contain;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.35;
  --button-height: 48px;
  min-height: var(--button-height);
  background-color: transparent;
  cursor: pointer;
  outline: 0;
  border: none;
  font-weight: var(--font-semibold);
  margin: 1.2rem;
  padding: 0.8rem 2rem;
  transition: all 0.2s ease-in-out;
  display: inline-flex;
  align-items: center;
  text-transform: capitalize;
  position: relative;
}

.logout-button {
  background-color: transparent;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.35;
  margin: 0;
  --button-height: 40px;
  min-height: var(--button-height);
  background-color: transparent;
  cursor: pointer;
  outline: 0;
  border: none;
  font-weight: var(--font-semibold);
  padding: 0.6rem 1.6rem;
  transition: all 0.2s ease-in-out;
  display: inline-flex;
  align-items: center;
  text-transform: capitalize;
}

.home-button:hover,
.logout-button:hover {
  transform: scale(1.08);
}

a:hover {
  color: #d8d18f !important;
  text-decoration: underline;
}

.nav_left_side ul {
  align-items: center;
  margin-bottom: 0;
  width: 10rem;
  justify-content: space-between;
}

ul a {
  color: #d8d18f;
  transition: all 0.2s ease-in-out;
  font-size: 1.1rem;
}

ul a:hover {
  color: #d8d18f;
  text-decoration: none;
  transform: scale(1.08);
}

.signup {
  margin-top: 0.5rem;
  margin-bottom: 1.1rem;
}

.sign-in span {
  color: var(--color-black-light);
}

.sign-in a {
  color: var(--color-btn-to);
  font-weight: bold;
}

.home-container {
  width: 100%;
  height: 100%;
}

.home-container .container {
  display: flex;
  flex-direction: column;
  width: 70% !important;
}

.icons {
  display: flex;
}

/* Table */
.row__title {
  color: #d8d18f;
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0;
}

.row--top-40 {
  margin-top: 6rem;
}

table {
  border-collapse: separate;
  border-spacing: 0 3em;
}

.table__th {
  color: #aaa;
  font-weight: 500;
  font-size: 0.8rem;
  text-transform: uppercase;
  cursor: pointer;
  border: 0 !important;
  padding: 0px 8px !important;
}

.table-row__td {
  padding: 15px 10px !important;
  vertical-align: middle !important;
  font-weight: 400;
  position: relative;
  line-height: 28px !important;
  border: 1px solid rgba(216, 209, 143, 0.7) !important;
  border-radius: 3px;
}

.table-row__info {
  display: inline-block;
  padding-left: 14px;
  vertical-align: middle;
  width: 100%;
}

.table-row__name {
  display: flex;
  color: #d8d18f;
  font-size: 0.92rem;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0px;
}

.table-row__description {
  display: flex;
  color: #aaaaaa;
  font-size: 0.92rem;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0px;
}

.table-row__username {
  color: var(--color-black-light);
  font-size: 0.92rem;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0px;
}
.table-row__p-email {
  margin-bottom: 0;
  font-size: 0.92rem;
  vertical-align: middle;
  display: inline-block;
  color: var(--color-black-light);
}

.comments {
  color: #aaaaaa;
}

.comments-container {
  border: 1px solid rgba(216, 209, 143, 0.7);
  border-radius: 3px;
  padding: 1rem;
}

.comments-container div {
  padding: 1rem 0;
  border-bottom: 1px solid #aaaaaa;
}

.post-footer {
  display: flex;
  justify-content: space-between;
}

.form-control {
  background-color: transparent;
  border: 1px solid rgba(216, 209, 143, 0.7);
}

.form-control:focus {
  background-color: #aaa;
  color: #19282f;
  border-color: #d8d18f;
}

.send-button,
.send-button:focus {
  background-color: transparent;
  border: 2px solid rgba(216, 209, 143, 0.7);
  color: rgba(216, 209, 143, 0.7);
  border-radius: 3px !important;
  padding: 0.3rem 0.6rem;
}

.text-center a {
  color: rgba(216, 209, 143, 0.7);
}

.add-section p {
  color: rgba(216, 209, 143, 0.7);
}

.add-header {
  color: #d8d18f;
}

.add-paragraph {
  color: #aaa;
}

.data-header {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 991px) {
  .table__thead {
    display: none;
  }
  .table-row {
    display: inline-block;
    border: 0;
    background-color: var(--clr-primary-white);
    width: calc(33.3% - 13px);
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .table-row__info {
    display: block;
    padding-left: 0;
  }

  .table-row__td {
    display: block;
    text-align: center;
    padding: 8px !important;
  }
}

@media screen and (max-width: 680px) {
  .table-row {
    width: calc(50% - 13px);
  }
}

@media screen and (max-width: 480px) {
  .table-row {
    width: 100%;
  }
}
