@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root{
  --clr-black: #333;
  --clr-bg-green: rgba(131,148,140, 0.6);
  --clr-puzzle-green: rgba(131,148,140, 0.4);
  --clr-puzzle-hover: rgba(131,148,140, 0.3);
}

/*  Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--clr-bg-green);
  color: var(--clr-black);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  font-size: 2rem;
  text-align: center;
  margin-top: 1.2rem;
  margin-bottom: .8rem;
  opacity: .6;
}

/* Puzzle Styles */
.puzzle-pieces {
  display: flex;
  justify-content: center;
}

.puzzle div {
  position: relative;
  height: 9rem;
  width: 9rem;
  display: inline-block;
  margin: 0;
  background-color: var(--clr-puzzle-green); 
}

.puzzle {
  width: 27.6rem;
  height: 27.5rem;
  margin: auto;
}

/* Footer Styles */
footer {
  font-size: .9rem;
  text-align: center;
  margin-bottom: .8rem;
  opacity: .55;
}

footer a{
  font-weight: bold;
  text-decoration: none;
  color: var(--clr-black);
}

a:hover{
  text-decoration: underline;
}

/* Drag and Drop Styles */
.draggable {
  width: 6.5rem;
  height: 6.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  border-radius: 0.5rem;
  margin: .7rem;
  user-select: none;
  cursor: move;
  transition: 0.5s;
}

.dragged {
  opacity: 0.16;
}

.draggable:hover {
  transform: scale(1.05);
}

.droppable {
  transition: border-width 0.2s, transform 0.2s, background-color 0.4s;
}

.droppable.droppable-hover {
  transform: scale(1.1);
  background-color: var(--clr-puzzle-hover); 
  z-index: 10;
}

.draggable .dragged {
  user-select: none;
  opacity: 0.1;
  cursor: default;
}
.draggable .dragged:hover {
  opacity: 0.1;
}

/*
    Images Assignments 
*/

#piece-1{
  background-image: url("../assets/img/1.png");
}

#piece-2{
  background-image: url("../assets/img/2.png");
}

#piece-3{
  background-image: url("../assets/img/3.png");
}

#piece-4{
  background-image: url("../assets/img/4.png");
}

#piece-5{
  background-image: url("../assets/img/5.png");
}

#piece-6{
  background-image: url("../assets/img/6.png");
}

#piece-7{
  background-image: url("../assets/img/7.png");
}

#piece-8{
  background-image: url("../assets/img/8.png");
}

#piece-9{
  background-image: url("../assets/img/9.png");
}