@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: /*#83948C; #eee;*/ rgba(131,148,140, 0.6);
  color: #333;
  /*color: #926149;*/
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.images {
  display: flex;
  justify-content: center;
}

.puzzle div {
  position:relative;
  height: 9rem;
  width: 9rem;
  display: inline-block;
  margin: 0;
  background-color: rgba(131,148,140, 0.4); /* #cccccc;*/
}

.puzzle {
  width: 27.6rem;
  height: 27.5rem;
  margin: auto;
}

header {
  font-size: 2rem;
  text-align: center;
  margin-top: 1.2rem;
  margin-bottom: .8rem;
  opacity: .6;
}

footer {
  font-size: .9rem;
  text-align: center;
  margin-bottom: .8rem;
  opacity: .55;
}

footer a{
  font-weight: bold;
  text-decoration: none;
  color: #333;
  /*color: #926149;*/
}

a:hover{
  text-decoration: underline;
}

.box {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 0.5rem;
  margin: .7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  user-select: none;
  cursor: move;
  transition: 0.5s;
}
.box span {
  pointer-events: none;
}

#piece-1{
  background-image: url("../assets/img/1.png");
}

#piece-2{
  background-image: url("../assets/img/2.png");
}

#piece-3{
  background-image: url("../assets/img/3.png");
}

#piece-4{
  background-image: url("../assets/img/4.png");
}

#piece-5{
  background-image: url("../assets/img/5.png");
}

#piece-6{
  background-image: url("../assets/img/6.png");
}

#piece-7{
  background-image: url("../assets/img/7.png");
}

#piece-8{
  background-image: url("../assets/img/8.png");
}

#piece-9{
  background-image: url("../assets/img/9.png");
}

.dragged {
  opacity: 0.16;
}

.draggable:hover {
  transform: scale(1.05);
}
.droppable {
  transition: border-width 0.2s, transform 0.2s, background-color 0.4s;
}

/* Drag and Drop Related Styling */

.droppable.droppable-hover {
  transform: scale(1.1);
  background-color: rgba(131,148,140, 0.3); /*#dadada;*/
  z-index: 10;
}

.droppable .dropped {
  border-style: solid;
}

.draggable .dragged {
  user-select: none;
  opacity: 0.1;
  cursor: default;
}
.draggable .dragged:hover {
  opacity: 0.1;
}